[Unit]
Description=FoundryVTT

[Service]
Type=simple
ExecStart={{ foundryvtt_node_path }} {{ foundryvtt_symlink }}/resources/app/main.js --dataPath={{ foundryvtt_datapath }} {{ foundryvtt_extra_args }}
User={{ foundryvtt_user }}
Group={{  foundryvtt_group }}

[Install]
WantedBy=multi-user.target
