{
  "port": {{ foundryvtt_port }},
  "upnp": {% if foundry_upnp is sameas true %}true{% else %}false{% endif %},
  "fullscreen": false,
  "hostname": {% if foundryvtt_hostname|length %}"{{ foundryvtt_hostname }}"{% else %}null{% endif %},
  "routePrefix": {% if foundryvtt_routeprefix|length %}"{{ foundryvtt_routeprefix }}"{% else %}null{% endif %},
  "adminKey": "{{ foundryvtt_adminkey }}",
  "sslCert": {% if foundryvtt_sslcert|length %}"{{ foundryvtt_sslcert }}"{% else %}null{% endif %},
  "sslKey": {% if foundryvtt_sslkey|length %}"{{ foundryvtt_sslkey }}"{% else %}null{% endif %},
  "awsConfig": {% if foundryvtt_awsconfig|length %}"{{ foundryvtt_awsconfig }}"{% else %}null{% endif %},
  "dataPath": "{{ foundryvtt_datapath }}",
  "proxySSL": {% if foundryvtt_proxyssl is sameas true %}true{% else %}false{% endif %},
  "proxyPort": {{ foundryvtt_proxyport }},
  "updateChannel": "{{ foundryvtt_updatechannel }}",
  "world": {% if foundryvtt_world|length %}"{{ foundryvtt_world }}"{% else %}null{% endif %}
}
